/*
Calculator in C
*/
# include <stdio.h>
int main() {
    float x,y;
    char choice;
    printf("Enter first number: ");
    scanf("%f",&x);
    printf("Enter second number: ");
    scanf("%f",&y);
    printf("Enter the operation you want to perform: ");
    printf("+,-,%%,*,/ ");
    scanf("%s",&choice);
    switch (choice) {
        case '+': printf("%.2f + %.2f = %.2f",x,y,x+y);
        break;
        case '-': printf("%.2f - %.2f = %.2f",x,y,x-y);
        break;
        case '*': printf("%.2f * %.2f = %.2f",x,y,x*y);
        break;
        case '/': printf("%.2f / %.2f = %.2f",x,y,x/y);
        break;
        case '%': printf("%d %% %d = %d",(int)x,(int)y,(int)x%(int)y);
        break;
        default: printf("Invalid Operation");
    }
    return 0;
}
